.containerForm {
  padding-top: 30px;
  font-style: normal;
  font: bolder;

  flex: content;
}

.formD {
  justify-items: normal;
  float: left;
  clear: left;
  padding: 5em;
  background-color: rgb(247, 245, 245);
  color: #003;
}

.imagenFrom {
  width: 500px;
}

.itemGenerico {
  block-size: 50px;
}

.buttonDelete {
}
