.titleMedium {
  margin-top: 30px;
  font-size: 12pt;

.SubtitleMedium {
  font-size: 10pt;
}

.imageP {
  margin-top: 50px;
  margin-bottom: 5px;
  object-fit: cover;
  width: 310px;
  height: 200px;
}

@media only screen and (min-width: 728px) {
  .imageP {
    margin-top: 50px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 450px;
    height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .imageP {
    margin-top: 50px;
    margin-bottom: 20px;
    object-fit: cover;
    width: 650px;
    height: 380px;
  }
}

.footer {
  margin-top: 30px;
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.logoFooter {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.textFooter {
  color: white;
  padding-top: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}
