.posititon-stiky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 8px 0;
}

nav {
  width: 100%;

  ul {
    padding: 0;
    font-size: small;
    margin: 0;
    white-space: nowrap;
    color: #6c757d;
    overflow-x: auto;

    li {
      margin-right: 25px;
      display: inline-block;

      a {
        color: #6c757d;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.nav-control-left {
  // padding-top: 5px;
  text-align: right;
}
