.b {
  border: 1px solid red;
}

.cursor-hand {
  cursor: pointer;
}

.test {
  height: 1000px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.vertical-center {
  align-items: center;
}

.d-none {
  display: none;
}

.d-flex {
  padding: 0;
  margin: 0;
  display: flex;
}
